<beans:beans xmlns="http://www.springframework.org/schema/security"
            xmlns:beans="http://www.springframework.org/schema/beans" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

            <http auto-config="true" access-denied-page="/accessDenied.jsp">
                        <intercept-url pattern="/index.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
                       <!--  <intercept-url pattern="/**" access="ROLE_XU_LY,ROLE_QUAN_TRI_HE_THONG,ROLE_VAN_THU,ROLE_LANH_DAO" /> -->
                                  
                        
                        <intercept-url pattern="/service/welcomeAdmin" access="ROLE_QUAN_TRI_HE_THONG"  />
      					<intercept-url pattern="/service/loadXuLyPheDuyetVanBan" access="ROLE_XU_LY,ROLE_VAN_THU,ROLE_LANH_DAO"  />
      				    <intercept-url pattern="/service/tiepNhanVanBanDen" access="ROLE_VAN_THU"  />   
      				    <intercept-url pattern="/service/showvanbanden/{1}" access="ROLE_XU_LY,ROLE_QUAN_TRI_HE_THONG,ROLE_VAN_THU,ROLE_LANH_DAO"  />   			
      				 	<intercept-url pattern="/service/nhapvanbanden" access="ROLE_VAN_THU"  />   	
                        <intercept-url pattern="/service/nhapbuocthuocquytrinh" access="ROLE_LANH_DAO"  />   
                        <intercept-url pattern="/service/phanxuly/{1}.action" access="ROLE_VAN_THU"  />   
                     	<intercept-url pattern="/service/timKiemVanBanDen" access="ROLE_XU_LY,ROLE_QUAN_TRI_HE_THONG,ROLE_VAN_THU,ROLE_LANH_DAO"  />
                     	<intercept-url pattern="/service/nhapvanbandi" access="ROLE_VAN_THU"  />
                     	<intercept-url pattern="/service/showvanbandi/{1}" access="ROLE_VAN_THU"  />
						<intercept-url pattern="/service/nhapHoSoLuuTru" access="ROLE_VAN_THU"  />
						<intercept-url pattern="/service/baoCaoVanBanDen" access="ROLE_VAN_THU,ROLE_LANH_DAO"/>
						<intercept-url pattern="/service/guiTinNhanNoiBo" access="ROLE_XU_LY,ROLE_QUAN_TRI_HE_THONG,ROLE_VAN_THU,ROLE_LANH_DAO"/>
						
						 
						                        
                        <form-login login-page="/index.jsp" 
                          default-target-url="/service/login.action" always-use-default-target="true"  
                          authentication-failure-url="/index.jsp?login_error=1" />
                        <logout logout-success-url="/index.jsp" />
            </http>

			<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"/>
			
			
            <authentication-manager>
                  <authentication-provider>
                              <!-- <user-service>
                                          <user name="vinh" password="123456" authorities="ROLE_USER" />
                              			<user name="admin" password="admin" authorities="ROLE_ADMIN" />
                              </user-service> -->
                    <!--   <password-encoder hash="sha" /> -->
                      <jdbc-user-service data-source-ref="myDataSource"

						   users-by-username-query="
						      select username,password, mac_dinh 
						      from nguoidung where username=?" 
			
						   authorities-by-username-query="
						      select a.username, b.ten_roles from nguoidung a, roles b 
						      where a.ma_nguoi_dung = b.ma_nguoi_dung and a.username =? " 

					  />
					  
					  <password-encoder ref="passwordEncoder" />
                  </authentication-provider>
            </authentication-manager>
            
           
            

</beans:beans>